@model IEnumerable<Blog>


<div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Blogs list</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Blog" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>&nbsp; ADD Blogs</a>
            </div>
        </div>

    </div>
  <table class="table table-bordered table-striped" style="width:100%">
  <thead>
      <tr>
          <th>
              Category
          </th>
          <th>
              Blogs Title
          </th>
            <th>
              Blogs description
          </th>
         
         
           
          <th>
             
          </th>
      </tr>

  </thead>
  <tbody>
      @foreach(var obj in Model)
        {
            <tr>
                <td width=10%>
                    @obj.Category
                </td>
                <td width=10%>
                    @obj.Title
                </td>
                 <td width=30%>
                    @obj.Description
                </td>
                 <td width=20%>
                   
                </td>
                
                
                 <td width=30%>
                  <div class="w-75 btn btn-group" role="group">
                      <a   class="btn btn-warning" asp-controller="Blog" asp-action="Edit"  asp-route-id="@obj.Id">EDIT</a>
                  </div>
                </td>
                 <td width=30%>
                  <div class="w-75 btn btn-group" role="group">
                      <a   class="btn btn-danger" asp-controller="Blog" asp-action="Delete"  asp-route-id="@obj.Id">Delete</a>
                  </div>
                </td>
               
            </tr>
            
        }
    </tbody>
  
  </table>

